{{#> base}}
<tr>
    <td align="left" style="background-color: #fff; padding: 20px">
        <h2 style="margin-top: 0; margin-bottom: 20px; font-size: 20px">
            {{subject}}
        </h2>
        <p style="margin-top: 0; margin-bottom: 20px; font-size: 16px; line-height: 1.5; text-align: left;">
            Your deposit account has been successfully created.
        </p>
        <p style="margin-top: 0; margin-bottom: 20px; font-size: 14px; line-height: 1.5; color: #666;">
            Account ID: {{account_id}}
        </p>
        <p style="margin-top: 0; margin-bottom: 20px; font-size: 16px; line-height: 1.5; text-align: left;">
            You can now deposit funds into your account.
        </p>
    </td>
</tr>
{{/base}}